/* fonts */

/* variables */

/* reset */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* global styles */

a {
  text-decoration: none;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
	width: 100%;
	object-fit: cover;
}

li {
  list-style-type: none;
}

/* class styles */


/* 
========
NAVBAR
========
*/

/* Photo by Tima Miroshnichenko: https://www.pexels.com/photo/a-high-angle-shot-of-a-man-looking-at-the-microscope-9574487/ */



.navbar-fixed {
	position: fixed;
	height: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	background: transparent;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 1rem;
}

.logo {
	color: rgb(158, 42, 0);
	font-size: 1.5rem;
	font-weight: 600;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.logo span {
	color: rgba(39, 77, 247, 1);
}

.dropdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 0.25rem;
  cursor: pointer;
}

.bar,
.bar-mid {
	height: 3px;
	width: 20px;
  background:  rgba(39, 77, 247, 1);
	margin: 0.1rem 0;
	border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.bar-mid {
	width: 26px;
}


/* 
========
NAV-MENU
========
*/

.nav-menu {
  display: none;
  position: absolute;
  padding: 1.15rem 1rem 0 1rem;
  background: rgba(255, 255, 255, 1);
  height: 100vh;
  width: 75%;
}

.nav-menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-exit {
  padding: .25rem;
  cursor: pointer;
}

.exit-bars {
	height: 3px;
	width: 23px;
  background:  rgba(39, 77, 247, 1);
	border-radius: 3px;
}

.one {
  transform: rotate(45deg) translateY(1px);
}

.two {
  transform: rotate(135deg) translateY(3px) translateX(-1px);
  
}

/* 
========
HERO
========
*/


.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(./images/pexels-tima-miroshnichenko-9574487.jpg) center / cover
			no-repeat;
	height: 100vh;
  display: grid;
  place-items: center;
}

.hero-banner {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  margin: 0 2rem;
  text-align: center;
}

.hero-cta {
  margin: 2rem auto 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  width: 8rem;
  text-align: center;
  background: rgba(39, 77, 247, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-cta:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(39, 77, 247, 1);
}

