/* fonts */

/* variables */

/* reset */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* global styles */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

/* class styles */

/* Photo by Tima Miroshnichenko: https://www.pexels.com/photo/a-high-angle-shot-of-a-man-looking-at-the-microscope-9574487/ */

.hero {
  background: url(./images/pexels-pixabay-356040.jpg) center / cover no-repeat;
  height: 100vh;
}

.navbar-fixed {
  position: fixed;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem;
}

.logo {
  color: orangered;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo span {
  color: #08239b;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0.25rem;
}

.bar, .bar-mid {
  height: 3px;
  width: 20px;
  background: #08239b;
  margin: 0.1rem 0;
  border-radius: 3px;
}

.bar-mid {
  width: 26px;
}